/* =header.php
-------------------------------------------------------------- */
#top {
  overflow: hidden;
}

/*#banner_top {
  width: 630px;
  float: right;
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 40px;
}*/

span#logo {
  width: 200px;  
}

span#banner img{
  /*width: 20px;  */
  overflow: hidden;
  margin-left: 100px;
  width: 440px;
  height: auto;
}

#content {
  float: right;
  display: inline-block;
}

/*.title {
  text-align: center;
  color: #ff0000;
  font-size: 25px;
}*/
/* =aside bar left
-------------------------------------------------------------- */

.side_bar {
  width: 230px;
  margin-top: 40px;
  margin-bottom: 20px;
  float: left;
  display: inline-block;
}
.side_bar ul {
  overflow: hidden;
  margin-top: 20px;
}
.side_bar ul li {
  line-height: 35px;
  border-bottom: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
  background: url("../images/arrow.png") no-repeat 0 15px;
  list-style: none;
}
.side_bar ul li a {
  height: 10px;
  display: block;
  line-height: 10px;
  font-size: 12px;
  color: #555555;
  padding: 0 0 6px 15px;
  margin: 6px 0 0;
  text-transform: uppercase;
}
.side_bar ul li a:hover {
  color: #ff0000 !important;
}

#logo_center {
  overflow: hidden;
}

/* =business
-------------------------------------------------------------- */
#content ul {
  list-style: none;
}
.business {
  overflow: hidden;
  text-align: center;
}
.business p {
  padding: 0 43px 0 0;
}
.business a {
  padding: 8px 20px;
  color: #fff;
  background: #518efe;
  box-shadow: 2px 2px 5px #888888;
}

/* =travelling, logo and languages
-------------------------------------------------------------- */

.logo_center {
  overflow: hidden;
}
#rectangle .logo_center ul li {
  float: left;
  line-height: 30px;
}
#rectangle ul {
  margin: 0;
  padding: 0;
  overflow: hidden; 
}
#rectangle a:hover {
  opacity: 0.8 !important;
}
#rectangle .last {
  margin-top: 86px;
}
.logo_center .traveling {
  padding: 8px 20px;
  color: #fff;  
  background: #10d235;
  box-shadow: 2px 2px 5px #888888;  
  margin-right: 20px;
}
.logo_center .languages_edu {
  padding: 8px 20px;
  color: #fff;
  background: #e61bda;
  box-shadow: 2px 2px 5px #888888;
  margin-left: 15px; 
}


/* =Other and jobs
-------------------------------------------------------------- */

.row_other {
  margin-left: 65px; 
  overflow: hidden;
}
.row_other ul li {
  float: left;
  line-height: 50px;
}
.row_other .other {
  padding: 8px 60px;
  color: #fff;  
  background: #23c9e2;
  box-shadow: 2px 2px 5px #888888;  
  margin-right: 30px;  
}
.row_other .jobs {
  padding: 8px 60px;
  color: #fff;  
  background: #ffcc00;
  box-shadow: 2px 2px 5px #888888;  
  margin-left: 100px;  
}

/* =slide move number
-------------------------------------------------------------- */
.flex-control-nav .flex-control-paging {
  right: 20px;
  bottom: 20px;
  position: absolute;
  z-index: 1000;  
}

/* =jacky
-------------------------------------------------------------- */
body {
  background-image:url("../images/pattern32.png");
}

.menu li li a {
  background: #585858 !important;;
  border-left: 1px solid #585858;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: 700;
  height: 45px;
  line-height: 45px;
  margin: 0;
  padding: 0 0.9em;xa
  position: relative;
  text-decoration: none;
  text-shadow: 0 -1px 0 #000000;
  white-space: nowrap;
}

.menu li li a:hover {
    background: #ffa500 !important;
    color: #444444;
}
