/* =header.php
-------------------------------------------------------------- */
#top {
  overflow: hidden;
}

/*#banner_top {
  width: 630px;
  float: right;
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 40px;
}*/

span#logo, span#qrcode {
  width: 220px;
}

span#banner img{
  /*width: 20px;  */
  overflow: hidden;
  margin-left: 55px;
  width: 440px;
  height: auto;
}

span#qrcode {
  width: 200px;
  float: right;
}

#content {
  float: right;
  display: inline-block;
}
.chooser .qtrans_flag {
  float: left;
}
.chooser {
  width: 100px;
  float: right;
}
.qtrans_language_chooser { list-style-type:none }
.qtrans_language_chooser li { float:left; margin-right:3px }
.qtrans_flag { border:1px solid #b6b6b6 }
.qtrans_language_chooser {
  position: absolute;
  z-index: 2000;
  margin-top: -25px;
}
.qtrans_language_chooser {
  margin-top: -29px;
}
/*.title {
  text-align: center;
  color: #ff0000;
  font-size: 25px;
}*/
/* =aside bar left
-------------------------------------------------------------- */
.content_uhome {
  overflow: hidden;
}
.entry_content {
  width: 644px;
  float: right;
  display: inline-block;
  overflow: hidden;
}
.side_bar {
  width: 270px;
  margin-top: 40px;
  margin-bottom: 20px;
  float: left;
  display: inline-block;
}
.side_bar ul {
  overflow: hidden;
  margin-top: 20px;
  padding-left: 1em !important;
}
.side_bar ul li {
  line-height: 35px;
  border-bottom: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
  background: url("../images/arrow.png") no-repeat 0 15px;
  list-style: none;
}
.side_bar ul li a {
  height: 10px;
  display: block;
  line-height: 10px;
  font-size: 12px;
  color: #555555;
  padding: 0 0 6px 15px;
  margin: 6px 0 0;
  text-transform: uppercase;
}
.side_bar ul li a:hover {
  color: #ff0000 !important;
}

/* =pagehome.php
-------------------------------------------------------------- */
#content_sp {
  display: none;
  float: right;
}

#content ul {
  list-style: none;
}

.business {
  overflow: hidden;
  text-align: center;
}
.business a {
  padding: 8px 20px;
  color: #fff;
  background: #518efe;
  box-shadow: 2px 2px 5px #888888;
}

.logo_center {
  overflow: hidden;
  text-align: center;
}
#rectangle .logo_center ul li {
  float: left;
  line-height: 30px;
}
#rectangle ul {
  margin: 0;
  padding: 0;
  overflow: hidden; 
}
#rectangle a:hover {
  opacity: 0.8 !important;
}
#rectangle .last {
  margin-top: 86px;
}
.logo_center .traveling {
  padding: 8px 20px;
  color: #fff;  
  background: #10d235;
  box-shadow: 2px 2px 5px #888888;  
  margin-right: 20px;
}
.logo_center .languages_edu {
  padding: 8px 20px;
  color: #fff;
  background: #e61bda;
  box-shadow: 2px 2px 5px #888888;
  margin-left: 15px; 
}

.row_other {
  margin-left: 65px; 
  overflow: hidden;
}
.row_other ul li {
  float: left;
  line-height: 50px;
}
.row_other .other {
  padding: 8px 60px;
  color: #fff;  
  background: #23c9e2;
  box-shadow: 2px 2px 5px #888888;  
  margin-right: 30px;  
}
.row_other .jobs {
  padding: 8px 60px;
  color: #fff;  
  background: #ffcc00;
  box-shadow: 2px 2px 5px #888888;  
  margin-left: 100px;  
}

/* =slide move number
-------------------------------------------------------------- */
.flex-control-nav .flex-control-paging {
  right: 20px;
  bottom: 20px;
  position: absolute;
  z-index: 1000;  
}

/* =jacky
-------------------------------------------------------------- */
body {
  background-image:url("../images/pattern32.png");
}

.menu li li a {
  background: #585858 !important;;
  border-left: 1px solid #585858;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: 700;
  height: 45px;
  line-height: 45px;
  margin: 0;
  padding: 0 0.9em;xa
  position: relative;
  text-decoration: none;
  text-shadow: 0 -1px 0 #000000;
  white-space: nowrap;
}

.menu li li a:hover {
    background: #ffa500 !important;
    color: #444444;
}




/* =mobile of homepage
-------------------------------------------------------------- */
@media screen and (max-width: 640px) {
/* header.php - mobile */
  span#banner img {
    text-align: center;
    margin-left: 0;
    width: 100%;
    height: auto;
  }
  span#qrcode {
    width: 100%;
    height: auto;
    float: none;
  }

  #content {
    float: none;
  }



/* pagehome.php - mobile */
  #content {
    display: none;
  }
  #content_sp {
    display: block;
  }
  .row_other .jobs {
    margin-left: 0px;
    text-align: left;
  }
  .business, .logo_center {
    text-align: left;
  }
  .logo_center .languages_edu {
    margin-left: 0px;
  }
  .row_other {
    margin-left: 0px;
  }

/* single-home-rectangle.php - mobile */
  .main {
    width: 100% !important;
  }
  .main img {
    width: 100%;
    height: auto;
  }
  .full-content {
    padding-left: 0 !important;
  }


/* sidebar-uhome.php - mobile */
.entry_content {
  width: 100%;
  float: none;
}
.side_bar {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  float: none;
}
.side_bar ul {
  overflow: hidden;
  margin-top: 20px;
  padding-left: 1em !important;
}
.side_bar ul li {
  line-height: 25px;
}


.js .main-nav a#responsive_menu_button {
  left: 12%;
}
.chooser {
  right: 0;
  position: relative;
}
.qtrans_language_chooser {
  position: absolute;
  z-index: 2000;
  margin-top: -22px;
}
.qtrans_language_chooser li { float:left; margin-right:0px }
}